:root {
  --background-color: #ffe5e5;
  --color: #000000;
  --feedback-bg-color: #ffffff;
  --feedback-secondary-color: #ffacac;
  --feedback-primary-color: #53488d;
  --feedback-icon-color: #ffffff;
  --feedback-form-input: #f4f4f4;
}

body {
  background-color: var(--feedback-primary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  // height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.kvadratas {
  width: 223px;
  height: 223px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  span {
      font-size: 30px;
  }
  &.br {
      background-color: greenyellow;
  }
}

.nice-d {
  width: 40px;
  height: 40px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  &.green {
      background-color: greenyellow;
  }
}

.center-content {
  display: grid;
  place-content: center;
}

.container {
  @extend .center-content;
  margin: 10px;
  text-decoration: none;
}

.submit-feedback {
  @extend .center-content;
  padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  background-color: var(--feedback-secondary-color);
  color: var(--feedback-primary-color);
  transition: all 0.3s;
  &:hover {
      border-radius: 0px;
      color: var(--feedback-primary-color);
      background-color: var(--background-color);
      background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      animation: animatedBackground 5s linear infinite alternate;
  }
}

@keyframes animatedBackground {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}

#root {
  padding: 50px;
}

.bin {
  margin: 20px;
  padding: 10px;
  border: 3px dotted orangered;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  input {
      font-size: 20px;
      outline: none;
      border: none;
      text-align: center;
      margin: 5px;
  }
  .input-button {
      margin: 5px;
  }
}

button {
  border: none;
  background-color: peachpuff;
  padding: 27px;
  font-size: 27px;
  letter-spacing: 2px;
  color: peru;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  margin: 5px;
  &.input-button-small {
      font-size: 14px;
      letter-spacing: 1px;
      color: white;
      background-color: rgb(205, 63, 110);
      padding: 8px;
  }
  .reg {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 10px;
  }
}

.small-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin: 5px;
  span {
      font-size: 27px;
      letter-spacing: 2px;
      color: black;
      padding: 16px;
  }
  .center {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
          width: 100px;
      }
  }
}

.field {
  display: flex;
  .farm {
      width: 50%;
      margin: 9px;
      padding: 8px;
      border: 4px dashed greenyellow;
  }
  h1 {
      color: greenyellow;
  }
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .todo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 10px;
      padding: 5px;
      border: 1px solid skyblue;
      border-radius: 4px;
      .id {
          margin: 5px 0 16px 0;
          padding: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          background-color: skyblue;
          border-radius: 50%;
          color: black;
      }
      .title {
          padding: 5px 5px 5px 0;
          letter-spacing: 0.5;
          font-size: 12px;
          color: skyblue;
      }
      .status {
          width: 20px;
          height: 20px;
          margin: 12px;
          cursor: pointer;
      }
      .user {
          font-style: italic;
          font-size: 14px;
          color: chartreuse;
      }
  }
}

.books-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 15%;
  .book {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      padding: 5px;
      background-color: sandybrown;
      border-radius: 4px;
      width: 250px;
      height: 370px;
      img {
          height: 200px;
          width: auto;
      }
      .author {
          font-style: italic;
          font-size: 12px;
          color: gray;
      }
      .title {
          font-size: 16px;
          color: black;
      }
      .price {
          font-size: 19px;
          color: red;
          font-weight: bold;
      }
      .cat {
          margin: 5px;
          padding: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20px;
          border-radius: 20px;
          color: black;
      }
  }
}

.sorter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background-color: sandybrown;
}

a {
  text-decoration: none;
  color: darkcyan;
  transition: all .3s;
  &:hover {
      color: darkgreen;
  }
}

.modal {
  position: fixed;
  top: 200px;
  left: calc(50% - 125px);
  background-color: white;
  height: 200px;
  width: 250px;
  border: 4px dashed greenyellow;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  height: 200px;
  width: 525px;
  border: 4px dashed greenyellow;
  padding: 10px;
  span {
    font-size: 50px;
    font-weight: bold;
    padding: 5px;
    color: firebrick;
    border: 1px solid chartreuse;
    margin: 5px;
  }
}